<ion-header>
  <ion-toolbar>
    <ion-title>Por favor escanea el QR en pantalla</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div id="container">
    <ion-card>
      <img src="https://hf-files-oregon.s3.amazonaws.com/hdpblackhawktechnicalcollege_kb_attachments/2023/06-21/85f8aab5-3577-47a5-8342-412e162da44b/image-20230621173816-23.png" alt="QR Code" />
    </ion-card>
  </div>
</ion-content>

<!-- Barra de navegación inferior fija -->
<ion-tabs>
  <ion-tab-bar slot="bottom" class="static-tab-bar">
    <ion-tab-button tab="home" routerLink="/inicio">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="clases" routerLink="/attendance">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Clases</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="qr" routerLink="/qr">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label>QR</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile" routerLink="/profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
