<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Estudiante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="submitForm()">
    <!-- Campo: Nombre -->
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="student.nombre" name="nombre" required></ion-input>
    </ion-item>
    <!-- Campo: RUT -->
    <ion-item>
      <ion-label position="floating">RUT</ion-label>
      <ion-input [(ngModel)]="student.rut" name="rut" required></ion-input>
    </ion-item>
    <!-- Campo: Correo -->
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input [(ngModel)]="student.gmail" name="gmail" type="email" required></ion-input>
    </ion-item>
    <!-- Campo: Semestre -->
    <ion-item>
      <ion-label position="floating">Semestre</ion-label>
      <ion-input [(ngModel)]="student.semestre" name="semestre" type="number" required></ion-input>
    </ion-item>
    <!-- Botón para enviar -->
    <ion-button expand="block" type="submit" color="primary">Agregar Estudiante</ion-button>
  </form>
</ion-content>
