<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="attendance-content">
  <ion-list>
    <ion-card *ngFor="let item of items; let i = index" class="subject-card">
      <ion-card-header [ngStyle]="{'background-color': item.color}">
        <ion-card-subtitle>{{ item.code }}</ion-card-subtitle>
        <ion-card-title>{{ item.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Estado:</strong> Abierto</p>
        <p><strong>Profesor:</strong> {{ item.professor }}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>

<!-- Barra de navegación inferior -->
<ion-tabs>
  <ion-tab-bar slot="bottom" class="static-tab-bar">
    <ion-tab-button tab="home" routerLink="/inicio">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="clases" routerLink="/attendance">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Clases</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="qr" routerLink="/qr">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label>QR</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile" routerLink="/profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
