
h1.text-center {
  font-size: 1.8rem;
  font-weight: bold;
  color: #1d4ed8;
  margin-top: 20px;
}

.profile-container {
  text-align: center;
  margin-top: 40px;
}

.profile-avatar {
  width: 120px; 
  height: 120px;
  margin: 0 auto;
  --border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.avatar-icon {
  font-size: 120px;
  color: #3b82f6; 
}

.profile-name h2 {
  font-size: 1.5rem;
  margin-top: 10px;
}

.profile-email p {
  font-size: 1.2rem;
  color: #4b5563;
  margin-top: 5px;
}

.link {
  color: #3b82f6;
  text-decoration: none; /* Elimina el subrayado del botón */
  font-size: 1rem;
}

