<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="unLogged()">Cerrar Sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Saludo personalizado -->
  <h1 class="text-center">
    {{ user?.isProfessor ? 'Bienvenido Profesor' : 'Bienvenido Alumno ' }} {{ user?.username || 'Usuario' }}
  </h1>

  <!-- Perfil de usuario -->
  <div class="profile-container">
    <!-- Ícono de avatar -->
    <ion-avatar class="profile-avatar">
      <ion-icon name="person-circle-outline" class="avatar-icon"></ion-icon>
    </ion-avatar>

    <!-- Nombre de usuario -->
    <ion-text class="profile-name">
      <h2>{{ user?.username || 'Usuario' }}</h2>
    </ion-text>

    <!-- Correo si es profesor -->
    <ion-text *ngIf="user?.isProfessor" class="profile-email">
      <p>{{ user?.email }}</p>
    </ion-text>
  </div>

  <!-- Enlace para restablecer la contraseña -->
  <ion-item lines="none">
    <ion-label class="restablecer-link text-center">
      ¿Se te olvidó la contraseña? <a routerLink="/restablecer" class="link">Restablescala</a>
    </ion-label>
  </ion-item>
</ion-content>

<!-- Barra de navegación inferior -->
<ion-tabs>
  <ion-tab-bar slot="bottom" class="static-tab-bar">
    <ion-tab-button tab="home" routerLink="/inicio">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="clases" routerLink="/attendance">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Clases</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="qr" routerLink="/qr">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label>QR</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile" routerLink="/profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
