<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Inicio de Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onLogin()" style="max-width: 400px; margin: auto;">
    <ion-item>
      <ion-label position="stacked">RUT</ion-label>
      <ion-input [(ngModel)]="rut" name="rut" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input [(ngModel)]="password" type="password" name="password" required></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit">Iniciar Sesión</ion-button>

    <ion-label *ngIf="errorMessage" color="danger" style="text-align: center; display: block; margin-top: 10px;">
      {{ errorMessage }}
    </ion-label>

    <ion-button expand="block" fill="clear" routerLink="/register">Registrarse</ion-button>
    <ion-button expand="block" fill="clear" routerLink="/restablecer">¿Olvidaste tu contraseña?</ion-button>
  </form>
</ion-content>
