<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>RegistrAPP</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="irAWeather()"> 
        <ion-icon name="sunny"></ion-icon> 
      </ion-button>
    </ion-buttons>   
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="true">
  <!-- Imagen con navegación directa a la página de asistencia -->
  <ion-img 
    src="https://img.freepik.com/vector-gratis/asistencia-papel-lista-comprobacion-dibujos-animados-icono-vectorial-ilustracion-educacion-negocio-aislado-plano_138676-10698.jpg" 
    routerLink="/attendance" 
    style="cursor: pointer; display: block; margin: 20px auto; width: 80%; max-width: 400px;"
    alt="Imagen de Registro de Asistencias">
  </ion-img>
</ion-content>

<!-- Barra de navegación inferior con tabs -->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" routerLink="/Inicio">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="clases" routerLink="/attendance">
      <ion-icon name="book-outline"></ion-icon> <!-- Cambiado a icono de libro -->
      <ion-label>Clases</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="qr" routerLink="/qr">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label>QR</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile" routerLink="/profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>