<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="text-center">
      Registro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="d-flex align-items-center justify-content-center">
  <form (ngSubmit)="ngOnInit()" class="w-100" style="max-width: 400px;">
    <!-- Contenedor centralizado -->
    <div class="p-4 shadow bg-light rounded">

      <!-- Campo de nombre -->
      <div class="mb-3">
        <ion-item>
          <ion-input type="text" placeholder="Ingresa tu nombre" [(ngModel)]="username" name="username" required></ion-input>
        </ion-item>
      </div>

      <!-- Campo de contraseña -->
      <div class="mb-3">
        <ion-item>
          <ion-input type="password" placeholder="Ingresa tu contraseña" [(ngModel)]="password" name="password" required></ion-input>
        </ion-item>
      </div>

      <!-- Botón de registro -->
      <div class="d-flex justify-content-center mb-3">
        <ion-button expand="block" class="register-button btn-primary" type="submit">
          Registrarse
        </ion-button>
      </div>

      <!-- Enlace de inicio de sesión -->
      <ion-item lines="none" class="login-link mt-3">
        <ion-label color="medium" class="text-center">
          ¿Ya tienes una cuenta? <a routerLink="/home" class="link">Inicia Sesión</a>
        </ion-label>
      </ion-item>
    </div>
    <ion-label color="danger" class="text-center">{{ errorMessage }}</ion-label>
  </form>
</ion-content>
